*{
  font-family: "Poppins", sans-serif;

}
body{
  background-color: #B1D9DB;
}
.dashboard{
  display: flex;
  justify-content: space-around;
  margin-top: 16px;
}
.h1-t{
  font-size: 32px;
  color: #333;
  
}
.nav{
  display: flex;
  gap: 1rem;
}
.btn{
  color: #212832;
  border-radius: 5px;
  padding: 16px 8px;
}
.hero{
  display: flex;
  margin-top: 80px;
}
.hero-content{
  margin-left:48px ;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.hero-tagline {
  color: #DF6951;
  font-size: 12px;
  font-weight: 700;
}
.hero-title{
  font-size: 45px;
  line-height: 53px;
  font-weight: 600;
}
.hero-desc{
  font-family: "Poppins";
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 0%;
  color: #5E6282;
}
.hero-btns{
  display: flex;
  gap: 20px;
}
.find-more{
  padding:24px 8px ;
  background-color: #F1A501;
  border-radius: 16px;
  border: none;
  color: #FFFFFF;
  font-weight: 700;
}
.categories{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.category-title{
  color: #5E6282;
  font-size: 15px;
}
.services-title{
  font-weight: 600;
  color: #14183E;
  font-size: 25px;
}
.services{
  display: flex;
  gap: 15px;
}
.service{
  background-color: #FFFFFF;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.service-img{
  align-self: center;
  max-width: 50%;
}
.service-name, .service-desc{
  align-self: center;
}
.service-name{
  font-weight: 400;
  font: size 15px;
  color: #1E1D4C
}
.service-desc{
  margin-left: 20px;
  color: #5E6282;
  font-size: 12px;
}
